@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:300,400&display=swap&subset=cyrillic');
@import "nullstyle.css";


@font-face {
	font-family: 'Gotham - Black';
	src: url('fonts/ofont.ru_Gotham Pro.eot');
	src: local('☺'), url('fonts/ofont.ru_Gotham Pro.woff') format('woff'), url('fonts/ofont.ru_Gotham Pro.ttf') format('truetype'), url('fonts/ofont.ru_Gotham Pro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-wrapper {
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper__brand {
    flex: 0 0 30%;
}

.header-wrapper__menu {
    flex: 0 0 72%;
}

.menu__ul {
    
    display: flex;
    justify-content: space-between;
   
    
    
}

.menu__ul a {
    color: #868686;
    text-transform: uppercase;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 3px;
}

.menu__ul a:hover {
    background-color: #ffbb42;
    
}

/* ПЕРВЫЙ БЛОК ПОСЛЕ ХЕДЕРА */

.item1 {
    background-color: #709dca;
    height: 589px;
}

.item1-wrapper__tittle {
    color: #ffffff;
    font-family: "Lato";
    font-size: 35px;
    font-weight: 400;
    letter-spacing: -0.88px;
    text-transform: uppercase;
    text-align: center;
}

.item1-wrapper__subtittle {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.item1-wrapper__form {
    display: flex;
    justify-content: center;
    
}

.item1-wrapper__form input {
    width: 281px;
    height: 46px;
    padding-left: 41px;
    margin: 0 5px;
    color: #000;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    
}

.item1-wrapper__form input:nth-child(1) {
    background-image: url("img/icon/1.png");
    background-repeat: no-repeat;
    background-position: 15px;
}
.item1-wrapper__form input:nth-child(2) {
    background-image: url("img/icon/2.png");
    background-repeat: no-repeat;
    background-position: 15px;
}
.item1-wrapper__form input:nth-child(3) {
    background-image: url("img/icon/3.png");
    background-repeat: no-repeat;
    background-position: 15px;
}

.item1-wrapper__form button {
    width: 211px;
    height: 46px;
    background-color: #ffbb42;

    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    box-shadow: none;

    margin: 0 5px;
}

.item1-wrapper__form button:hover {
    background-color: #a54716;
}

.item1-wrapper__text {
    padding: 110px 0 33px;
}

.item1-wrapper__img {
    display: flex;
    justify-content: center;

}
.item1-wrapper__img img{
    padding-top: 67px;
    object-fit: cover;
    object-position: center;
}

/* ВТОРОЙ БЛОК*/
.item2__info{
    padding-top: 203px;
}

.title {
    color: #394b50;
    font-family: "Gotham - Black";
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.75px;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    color: #394b50;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.columns {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
}

.info__column1, .info__column2 {
    flex: 0 1 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    height: 160px;
    display: flex;
    position: relative;
}

.row .row1 {
    position: absolute;
    top: 0;
    left: 86px;
}

.row__img {
    width: 62px; 
    text-align: center;
}
.row img {
    object-fit: none;
    object-position: top center;
    
}
.row__title {
   
    color: #394b50;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;

    margin-bottom: 21px;
}

.row__text {
   
    color: #7b7b7b;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

/* БЛОК С КАРТИНКОЙ И ТЕКСТОМ */

.item3 {
    display: flex;
}
.item3__img {
    flex: 0 1 50%;
    height: 623px;
    background: url('img/item3.jpg') no-repeat;
}
.item3__content {
    flex: 0 1 50%;
    background-color: #ffc155;
    padding-left: 80px;
    display: flex;
    align-items: center;
}
.item3__title {
    color: #ffffff;
    font-family: "Gotham - Black";
    font-size: 30px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -0.75px;
    text-align: left;
}
.item3__text {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin: 28px 0 33px;
    }
.item3__button {
    width: 145px;
    height: 46px;
    border: 1px solid #e7ad48;
    background-color: #ffc155;

    color: #ffffff;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.item3__button:hover {
    background-color: #f1642e;
}

.item4 {
    height: 898px;
    background-color: #e7edf3;
}


/* ТРИ КОРОБКИ */


.box-wp {
    align-items: center;
    display: flex;
    justify-content: center;
}

.box {
    position: relative;
    width: 391px;
    height: 442px;
    border: 1px solid #ccd5df;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 31px;
}

.item4__text {
    padding: 137px 0 49px;
}

.box__title {
    color: #818b95;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;

    padding-bottom: 30px;
}

.box__price {
    color: #ffbb42;
    font-family: "Lato";
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.box__subprice {    
    color: #818b95;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 300;
    font-variant: small-caps;
    margin-bottom: 33px;
}

.box span {
    background-color: #e2e9f0;
    height: 2px;
    width: 100%;
    padding: 0 31px;
}

.box button {
    margin-top: 25px;
    width: 131px;
    height: 42px;
    background-color: #ffbb42;

    color: #ffffff;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
}

.box__text {
    color: #b5bbc1;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
}

.box-big {
    width: 395px;
    height: 501px;
    background-color: #709dca;
}

.box-big .box__price {
    color: #ffffff;
}

.box-big span {
    background-color: #8eb8e2;
    height: 1px;
}

.box-big .box__subprice {
    color: #ffffff;
}

.box-big .box__title {
    color: #ffffff;
}

.box-big .box__text {
    color: #ffffff;
}

.box button:hover {
    background-color: #709dca;
    border: 1px solid #fff;
}